*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}



body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}



section.board {
    display: grid;
    grid-template-rows: repeat(3, 12vmin);
    grid-template-columns: repeat(3, 12vmin);
    grid-gap: 0vmin;
    
    
    

}

div {
    border: 3px solid black;
    font-size: 9vmin;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
div:hover {
    background-color: lightgray;
}

button {
    margin: 10%;
    font-size: 2vmin;
}

button:hover {
    cursor: pointer;
    color: gray
}